@import '../../constant/index.scss';

.btn-warning {
  background-color: $primary-color !important;
  padding: 10px !important;
  color: $white-color !important;
  box-shadow: none !important;
  border-radius: 100px;
  text-transform: capitalize;
  font-weight: 500;
}

p {
  span {
    color: $primary-color;
    &:hover {
      cursor: pointer;
    }
  }
}

.link {
  font-size: 14px;
  color: $grey-color;
  display: flex;
  justify-content: center;
  align-items: center !important;
  h5 {
    margin-top: -5px;
    padding: 0 5px;
    color: $primary-color;
  }

  a {
    color: $primary-color;
    &:hover {
      color: $primary-color;
      text-decoration: none;
    }
  }
}

.terms-and-policy {
  font-size: 13px;
  color: $grey-color;
  span {
    color: $primary-color;
  }
}
