@import '../../../constant/index.scss';

.bank-transfer {
  @extend %page-padding;

  .wallet-details {
    background: linear-gradient(260.42deg, #e18c3d 20.07%, #494a5c 132.43%);
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-bottom: 20px;
    background-size: cover;
    background-position: bottom;
    padding: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    h6 {
      color: $white-color;

      @media screen and(max-width: 767px) {
        font-size: 13px;
      }
    }

    h5 {
      font-weight: 600;
      color: $white-color;
      margin-bottom: 5px;
      font-size: 18px;
      @media screen and(max-width: 767px) {
        font-size: 15px;
      }
    }

    .account-details {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      img {
        width: 25px;
        height: 20px;
        border-radius: 5px;
        margin-right: 8px;
        margin-top: 5px;
      }

      h5 {
        margin-bottom: 0;
        @media screen and(max-width: 767px) {
          font-size: 15px;
        }
      }
    }
  }

  .intruction {
    color: $black-color;
    margin-bottom: 50px;
    text-align: center;
    padding: 0 70px;
    margin-top: 40px;
    span {
      font-weight: 600;
    }
  }

  .btn-black {
    width: 100%;
    border-radius: 7px;
  }
}
