@import '../../../../constant/index.scss';

.place-bet-color {
  @extend %page-padding;
  .header-background {
    position: relative;

    .content {
      background-image: url('../../../../assets/background/dashboard.png');
      background-repeat: no-repeat;
      border-radius: 20px;
      margin-bottom: 20px;
      background-size: cover;

      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 20px 30px 20px;

    }

    .footer {
      position: absolute;
      width: 100%;
      bottom: 0;
      background: rgba(255, 255, 255, 0.8);
      padding: 10px 20px 5px 20px;

      h5 {
        color: $black-color;
        font-weight: 700;
        margin-bottom: 0;
      }

      h6 {
        color: $grey-color;
        font-weight: normal;
      }
    }
  }
}
