$body-color: #FBFBFB;
$primary-color: #E18C3D;
$blue-color: #0C6CF2;
$red-color: #E85C5C;
$green-color: #2FB67E;
$black-color: #202124;
$grey-color: #8e8e8e;
$white-color: #ffff;
$faint-color: #F5F5F5;
$border-color: #C7C7C7;
