@import './colors.scss';
%item-border-box {
  border: 1px solid $border-color;
  padding: 0 15px;
  border-radius: 9.64768px;
  margin-bottom: 15px;
}

%page-padding {
  padding: 20px 15px 10px 20px;
}

@mixin icon-bg($background-color) {
  background-color: $background-color;
  border-radius: 7px;
}
