@import '../../../../../constant/index.scss';

.pool-play-station-item {
  label {
    width: 70px;
    height: 70px;
    border-radius: 100px;
    border: 2px solid $black-color;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

    &:hover {
      cursor: pointer;
    }
  }

  .processed-img {
    width: 65px;
    height: 65px;
    border-radius: 100px;
  }

  .blured-img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    filter: blur(12px);
    transform: rotate(180deg);
  }

  .selected {
    border-radius: 30px;
    border: none;
    padding: 40px !important;
    background: rgba(0, 0, 0, 0.2);
  }
}
