@import '../../../../../constant/index.scss';
.processing-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;

  img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }

  h5 {
    font-size: 18px;
    color: $black-color;
    font-weight: 700;
    margin-bottom: 2px;
  }

  h6 {
    font-size: 17px;
    color: $grey-color;
    font-weight: normal;
    margin-bottom: 0;
  }
}
