@import '../../../constant/index.scss';

.referrals {
  @extend %page-padding;
  text-align: center;
  .invite-instruction {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    h6 {
      color: $grey-color;
      font-weight: normal;
      font-size: 15px;
      max-width: 400px;
      text-align: center;
    }
  }

  .referees {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 1px solid $border-color;
    border-radius: 10px;
    padding: 10px 0 10px 20px;

    div:nth-child(1) {
      padding-right: 20px;
      padding-bottom: 15px;
      text-align: left;
      border-bottom: 1px solid $border-color;
      display: flex;
      align-items: center;
      justify-content: space-between;
      

      h5 {
        color: $primary-color;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 0;
      }

      h6 {
        color: $grey-color;
        font-size: 15px;
        font-weight: normal;
        margin-bottom: 0;
      }
    }

    div:nth-child(2) {
      padding-right: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;

      &:hover {
        cursor: pointer;
      }

      h5 {
        color: $black-color;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 5px;
      }

      svg {
        font-size: 20px;
      }
    }
  }

  .code {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $border-color;
    padding: 10px 15px;
    border-radius: 10px;
    h5 {
      margin-bottom: 0;
      font-weight: 600;
      font-size: 17px;
      color: $primary-color;
    }

    span {
      color: $black-color;
      padding: 8px 15px;
      font-weight: 600;
      border-radius: 10px;
      font-size: 15px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
