@import '../../../constant/index.scss';
.group-management {
  h5 {
    font-weight: 600;
    font-size: 17px;
    padding-bottom: 20px;
    margin-top: 10px;
    border-bottom: 1px solid $faint-color;
    cursor: pointer;
    text-align: center;
  }

  .action-wrapper {
    h6 {
      font-size: 15px;
      color: $grey-color;
      font-weight: normal;
      margin-top: 15px;
      margin-bottom: 20px;
      border-bottom: 1px solid $faint-color;
      padding-bottom: 20px;
      text-align: center;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .close-footer {
    text-align: center;
    padding-top: 10px;

    h6 {
      color: $red-color;
      font-weight: 600;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
