@import '../../../constant/index.scss';

.add-money {
  @extend %page-padding;

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    @extend %item-border-box;

    h5 {
      @extend %h5;
      margin-bottom: 0;
      display: flex;
      align-items: center;
      svg {
        font-size: 20px;
        color: $black-color;
        margin-right: 10px;
      }
    }
    h5 + span {
      border: 3px solid $border-color;
      padding: 10px;
      border-radius: 20px;
    }

    &:hover {
      cursor: pointer;
      h5 + span {
        border: 3px solid $primary-color;
      }
    }
  }
}
