@import './constant/index.scss';

body {
  margin: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $body-color;
}

.text-field legend {
  float: none !important;
}

.text-field {
  width: 100% !important;
  margin-bottom: 15px !important;
}

.MuiOutlinedInput-input {
  padding-top: 14.5px !important;
  padding-bottom: 14.5px !important;
}

.text-field label {
  top: -4px !important;
}

.text-field label[data-shrink='true'] {
  top: 0;
}

.MuiDialogActions-root {
  padding-bottom: 20px !important;
  padding-right: 20px !important;

  .MuiButton-label {
    text-transform: capitalize !important;
  }

  button:first-child {
    color: $black-color;
    font-weight: 600 !important;
  }

  button:last-child {
    background-color: $primary-color !important;
    color: $white-color;
  }
}

.Mui-disabled input {
  color: #3a3a3a;
}

.text-field legend {
  float: none !important;
  margin-right: 0 !important;
}

.text-field {
  width: 100% !important;
  margin-bottom: 15px !important;

  input {
    font-weight: bold !important;
    color: $black-color !important;
  }

  .MuiInputBase-formControl {
    font-weight: bold !important;
    color: $black-color !important;
    border-radius: 10px !important;
  }
}

.MuiInputLabel-outlined.MuiInputLabel-shrink {
  transform: translate(14px, -6px) scale(0.83) !important;
}

.MuiButton-textSecondary {
  color: $primary-color !important;
}

.ant-picker {
  width: 100% !important;
  border: none !important;
  border-bottom: 1.7px solid #dddddd !important;
  padding: 10px;

  &:hover,
  &:focus {
    border-bottom: 2px solid $blue-color !important;
    outline: none !important;
  }
}

body.ant-scrolling-effect {
  overflow: hidden;
  width: auto !important;
}

.ant-modal-header {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  border-bottom: 1px solid $border-color;
  .ant-modal-title {
    font-weight: 700 !important;
    font-size: 18px;
  }
}

.header-centered {
  .ant-modal-title {
    font-weight: 700 !important;
    text-align: center !important;
  }
}

.ant-modal-content {
  border-radius: 20px !important;
}

.ant-modal-body {
  padding: 20px 40px 30px 40px;
}

.MuiRadio-colorSecondary {
  color: $grey-color !important;
}

.MuiRadio-colorSecondary.Mui-checked {
  color: $primary-color !important;
}

.MuiFormControlLabel-label {
  color: $grey-color;
}

.text-right {
  text-align: right !important;
}
.btn-block {
  width: 100% !important;
}
